/* ===== IMPORTAÇÃO DE FONTES ===== */
/* "Montserrat" */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* "Geologica" */
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@400;700&display=swap");

/* ===== RESET GERAL ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    background: linear-gradient(to right, #CCF6FF, #192083);
}

.painel-principal {
    display: flex;
    min-height: 100vh;
}   
.area-icones-usuario img {
    margin-right: 0.5rem;  
    margin-top: 0.3rem;  
}
#meuIframe {
    border-radius: 0.5rem;
    width: 75rem;
    height: 60rem;
}

/* O truque: esconde a barra de rolagem horizontal */
#meuIframe {
    overflow-x: hidden;
    overflow-y: auto;
}

@media(max-width:1024px) {

    #meuIframe {
        width: 95%;
    }

}