/* ===== IMPORTAÇÃO DE FONTES ===== */
/* "Montserrat" */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* "Geologica" */
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@400;700&display=swap");

/* ===== RESET GERAL ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

.area-conteudo {
    width:82%;
    height: 100vh;
}
.area-icones{
    display: flex;
    justify-content: space-between;
    align-items: right;
    width: 101%;
    padding-top: 0.4%;
}
.area-header{
    width: 3rem;
}
/* ===== PAINEL PRINCIPAL ===== */
.painel-principal {
    display: flex;
    width: 99%;
}

#notificacoes {
    right: 2%;
}

/* ===== ÁREA DE ÍCONES DO USUÁRIO ===== */
#notificacoes-img {
    margin-right: 3.8rem;
    /* margin-top: 0.3rem; */
}

/* .barra-lateral {
    display: flex;
} */

/* ===== IFRAME ===== */
.painel iframe {
    border-radius: 0.5rem;
    overflow-x: auto;
    overflow-y: auto;
    width: 73%;
    height: 35rem;
}

/* ===== MEDIA QUERIES ===== */

@media (min-width: 576px) {
    #meuIframe {
        width: 90rem;
    }
}

@media (max-width: 800px) and (max-height:1300) {
    .painel {
        width: 80rem;
    }
}

@media (min-width: 992px) {
    .painel {
        width: 100rem;
    }
}

@media (min-width: 1024px) {
    .painel {
        width: 100rem;
    }
}

@media (min-width: 1200px) {
    .painel {
        width: 100rem;
    }
}

@media (min-width: 1400px) {
    .painel {
        width: 100rem;
    }
}

@media (max-width: 375px) {
    .painel-principal {
        min-height: 40vh;
    }

    .area-icones-usuario img {
        margin-right: 1%;
        margin-top: 0.2rem;
    }

    #meuIframe {
        border-radius: 0.3rem;
        min-height: 250px;
    }
}