/* ===== IMPORTAÇÃO DE FONTES ===== */
/* "Montserrat" */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* "Geologica" */
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@400;700&display=swap");

/* ===== RESET GERAL ===== */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

/* ===== CABEÇALHO ===== */
header {
    background-image: url("../imgs/Header.png");
    position: fixed;
    width: 95%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.3rem 0.5rem;
    padding: 0.4rem 2.5rem;
}

header a {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}

header a:hover {
    text-decoration: underline;
}

/* empurra o grupo de links + botão para a direita */
header a:first-of-type {
    margin-left: auto;
}

header button {
    background-color: #004cc5;
    border: none;
    color: aliceblue;
    border-radius: 0.7rem;
    padding: 1rem;
}


/* ===== CONTEÚDO PRINCIPAL (ADICIONADO) ===== */
main {
    margin-top: 4.85rem;
    background-image: url("../imgs/Login.png");
    background-size: 100% 120%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
#container {
    width: 30%;
    height: 60vh;
    background-color: white;
    padding: 1.5rem 4rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-top: -6rem;
}



/*icone sucesso*/
#icon-success {
    margin-top: 2rem;
    font-size: 8rem;
    color: #004cc5;
    display: flex;
    justify-content: center;
}


/*título*/
#titulo-conclusao{
    font-family: 'Montserrat', sans-serif;
    color: #007bff;
    font-size: 2.2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*Mensagem conclusão*/
#mensagem-conclusao{
    font-family: 'Geologica', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2rem;
}

/*Butons*/

#buttons {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
    font-family: "Geologica", sans-serif;
    width: 100%;
    justify-content: flex-end;
}

#buttons button {
    border-radius: 0.1rem;
    padding: 0.8rem 2rem;
    border: none;
    font-size: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
#buttons a{
    cursor: pointer;
    text-decoration: none;
    color: #eeeeee;
}
#buttons a:hover{
    text-decoration: none;
}
#buttons button:hover {
    transform: translateY(-2px);
}
