/* ===== IMPORTAÇÃO DE FONTES ===== */
/* "Montserrat" */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* "Geologica" */
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@400;700&display=swap");

/* ===== RESET GERAL ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    background: linear-gradient(to right, #CCF6FF, #192083);
}

.painel-principal {
    display: flex;
    min-height: 100vh;
}

#voltar {
    rotate: 180deg;
}

.conteudo-principal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top:0.5% ;
}
.conteudo-principal-header h1{
    color: #365576;
}
.subtitulo-secao {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    color: #365576;
    margin-bottom: 2rem;
    font-weight: 700;
}

.detalhes-campos {
    display: grid;
    grid-template-areas:
        "column1 column2";
    gap: 0 2rem;
}

.detalhes-campos:last-child {
    width: 99%;
}

#nome-tarefa {
    margin-top: 1.5px;
}

.filtro-select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    font-weight: 00;
    border-radius: 0.5rem;
    background-color: white;
    font-size: 1rem;
    font-family: 'Geologica', sans-serif;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069c-2-2-4-2-6-2H11c-2%200-4%200-6%202-4%203-4%208%200%2011l135%20141c2%202%204%203%206%203s4-1%206-3l135-141c4-3%204-8%200-11z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right 0.5rem top 50%;
    background-size: 0.65rem auto;
}

.campo input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: white;
    font-size: 1rem;
    font-family: 'Geologica', sans-serif;
}

.area-descricao {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Estilos dos campos de Detalhes (rótulo e input) */
.campo {
    margin-bottom: 1rem;
}

.campo label {
    font-family: 'Geologica', sans-serif;
    font-size: 1.1rem;
    color: #555;
    display: block;
    margin-bottom: 1rem;
    font-weight: 600;
}


.campo input:last-child {
    color: #555;
}

.texto-descricao {
    width: 95%;
    height: 12rem;
    padding: 1rem;
    margin-top: 0;
    text-align: justify;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    font-family: 'Geologica', sans-serif;
    font-size: 0.9rem;
    line-height: 1.4;
    color: #192083;
    background-color: #ffffff;
    resize: none;
    margin-bottom: 1.4rem;
}

.detalhes-upload-painel {
    text-align: left;
}

/* Botão Enviar Arquivo */
.btn-enviar {
    background-color: #3474cd;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-enviar:hover {
    background-color: #192083;
}

.link-inserir {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

input {
    outline: none;
}
.area-icones{
    right: 4%;
}
#notificacoes{
 right: 2%;   

}
#notificacoes h1{
    color: black;
}