/* ===== IMPORTAÇÃO DE FONTES ===== */
/* "Montserrat" */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* "Geologica" */
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@400;700&display=swap");

/* ===== RESET GERAL ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

.area-icones{
    display: flex;
    justify-content: space-between;
   

}
#area-header h1{
    color: #2F567D;
}
/* ===== PAINEL PRINCIPAL ===== */
.painel-principal {
    display: flex;
    width: 99%;
}

#notificacoes {
    right: 2%;
}

/* ===== ÁREA DE ÍCONES DO USUÁRIO ===== */
#notificacoes-img {
    margin-right: 3.8rem;
    /* margin-top: 0.3rem; */
}
.painel{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}
.painel h1{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", sans-serif;
    color: #2F567D;
}
/* ===== IFRAME ===== */
.painel iframe {
    border-radius: 0.5rem;
    width: 73%;
    height: 35rem;
}

/* ===== MEDIA QUERIES ===== */
@media (max-width: 1340px) and (max-height:800px){

}
@media  (max-height:1340px) and (max-width: 800px) {
    .painel-principal{
        display:block;
    }    
    .area-conteudo{
        width: 96%;
    }
    iframe{
        width: 300rem;
    }
}
@media (max-width: 1040px) {
    .area-conteudo{
        height: 80vh;
    }

}
@media  (max-width: 460px) {
    .painel-principal{
        height: 100vh;
    }
    .area-icones h1{
        font-size: 7vw;
    }
}


